<!DOCTYPE html>
<html>
<head>
	<title>Deen Kubernetes Site</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<header>
		<h1>#10WeeksOfCloudOps Week4</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<h2>#10WeeksOfCloudOps! week4</h2>
		<p>This is a simple python web app for the #10weeksofcloudops challenge.</p>
		<p>Below is the architecture diagram</p>
		<img src="../static/Architecturediagram.png" alt="Archtecture diagram " class="image">
		<a href="https://github.com/MMuyideen/Azure-cloudops-week4">Github Repo</a>
	</main>
	
	<footer>
		<p>Copyright © 2024</p>
	</footer>
</body>
</html>
